.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.center-form Form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius:5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.center-form Form Label {
    font-weight: bold;
}

.center-form Form .Form.Control {
    margin-bottom: 20px;
    padding: 10px;
}

.center-form Form .Button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 0;
}

.center-form Form .Button:hover{
    background-color: rgba(0, 0, 255, 0.625);
}